*.iml
.gradle
/local.properties
/build
/captures
.externalNativeBuild
.cxx
local.properties
./.idea/*
./.idea/

# 忽略 macOS 系统文件
**/.DS_Store
# 可选：忽略 .DS_Store 的备份文件
**/.DS_Store?
**/.Spotlight-V100
**/.Trashes

./third_party/*
**/third_party/
/third_party/libuv/*
/third_party/abseil-cpp/*
/src/git_version.h
/src/version.h
/third_party/openssl/
/third_party/poco/
/third_party/prefix/openssl/
/third_party/prefix/zstd/
/third_party/googletest/
/third_party/abseil-cpp/
/build_project/Android/build/*
/output/*
/third_party/fmt/
/third_party/utfcpp/
/third_party/build_zstd_android/
/third_party/zoo/
/third_party/prefix/fmt/
/third_party/build_fmt_android/
/third_party/build_libuv_android/
/third_party/prefix/libuv/
/third_party/prefix/c-ares/
/third_party/libuv/
/third_party/zstd/
